body, #root {
    flex: 1;
    display: flex;
    margin: 0;
    background-color: #f9f9f9; color: #111;
    font-family: system-ui;
}

aside {
    position: sticky; top: 0;
    width: 10%; min-width: 160px; height: 100vh;
    background: linear-gradient(hotpink, darksalmon); color: #fffc;
    overflow-y: auto;
    text-align: center;
}
.sidelink {
    display: block;
    margin: 1rem; padding: 20px;
    text-align: center; text-decoration: none;
    background-color: #fff3; color: #fff;
    transition: .2s;
    
    &:hover {
        background-color: #fff5;
        scale: 1.08;
    }

    &.bordered {
        border: 2px solid lightcyan;
    }

    &.active {
        background-color: #fffc; color: darkmagenta;
        border-color: transparent;

        &:hover {
            background-color: #fffd;
        }
    }
}
.sidehr {
    width: 50%;
    border-width: 0 0 1px 0; border-color: #fff9;
}

main {
    max-width: 800px;
    margin: auto; padding: 1rem 3rem;

    & img {
        width: 100%;
    }
}
h1, h2, h3 {
    font-family: serif;
    margin-bottom: 4px;

    &:hover::before {
        content: '# '
    }
}
& h1 {
    margin: 20px 0;
    background-color: pink;
}
p {
    margin: 8px 0;

    &:last-of-type {
        margin-bottom: 0;
    }
}
ul {
    list-style: cjk-decimal;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
}
th {
    text-align: left;
    background-color: deeppink; color: white;
    background: linear-gradient(hotpink, darkmagenta);
}
tr {
    transition: .2s;

    &:nth-child(2n+1) {
        background-color: #eee;
    }
    
    &:hover {
        background-color: pink; /* color: mediumvioletred; */
        transition: 0ms;
    }
}

.user-actions {
    display: flex; flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;;
}

.msgbox {
    padding: 8px 12px;

    &.regular {
        border: 1px solid #ccc;
    }
    &.error {
        background-color: salmon;
    }
    &.success {
        background-color: lightgreen;
    }
}

.posts {
    width: 100%;
    padding: 0 40px 40px;
}
.posts__inner {
    width: fit-content;
    display: flex; flex-direction: row;
    justify-content: center; flex-wrap: wrap;
    margin: auto;
}
.post-card {
    width: 40%; min-width: 480px; max-width: 800px;
    margin: 20px; padding: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px #0002;

    & > p {
        font-family: serif;
    }
}
.post-card__title {
    display: flex; flex-direction: row;
    justify-content: space-between; align-items: center;
    gap: 20px;

    & h3 {
        margin: 0;
        font-family: sans-serif;

        &::before {
            content: none;
        }
    }
}

main button {
    appearance: none;
    padding: 12px 16px;
    background-color: white;
    border: 1px solid #999;
    transition: .2s;

    &:hover {
        background-color: #ccc;
        border-color: #ccc;

        &:active {
            background-color: #000; color: #fff;
            border-color: #000;
        }
    }
}

input[type="file"] {
    display: none;
}
.file-upload {
    padding-right: 8px;
    cursor: pointer;
    text-decoration: underline;
}

.new-page-button {
    appearance: none;
    background-color: transparent; color: white;
    border: none;
    margin: 0 1rem;
    transition: .2s;
    text-decoration: underline;

    &:hover {
        background-color: #fff3;
    }
}